<div class="backgr">
	<div class="box" ng-repeat="s in solutions">		
		<div layout="row" layout-align="start center">
				<div><img class="body-img" ng-src="%%img%%"></div>
				<div class="box-title">%%s.titulo%%</div>
		</div>
		<div class="box-body">%%s.descripcion%%</div>
		<div class="box-footer" ng-click="detalle(s.id)">%%s.fecha%%</div>
	</div>
</div>
<div class="solut_foot">
	<div layout="row" layout-align="center center" class="solut-button">
		 <img ng-src="%%img%%">
		 <div>Registrate</div>
	</div>
</div>					